<div class="modal-header">
  <div class="row">
    <div class="col-xs-12">
      <h1 class="chart-heading">{{daily_chart.kid}}, {{daily_chart.createdAt}}</h1>
    </div>
  </div>
</div>

<div class="modal-body">
  <div class="row">
    <div class="col-xs-12">
      <h3>Date of Birth: {{daily_chart.date_of_birth}}</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h3>Strengths: {{daily_chart.strengths}}</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h5>Brushed teeth in the morning {{daily_chart.teeth_am}}</h5>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h5>Cleared breakfast dishes from the table {{daily_chart.bfast_dishes}}</h5>
    </div>
  </div>
</div>

<div class="modal-footer">
  <input type="button" class="btn btn-secondary" data-dismiss="modal" value="Close">
</div>
